Szallas_listaz
view:body
<li class="portfolio-item -|-Af_varosNev-|-">
    <div class="item-inner">
        <h5>-|-Af_telepules-|-</h5>
        <img src="image/nagykepek500x375/-|-Foto_id-|-.jpg" alt="">
        <h5>-|-Af_nev-|-</h5>
        <div class="overlay">
            <div class="overlay">
                <a class="preview btn btn-danger" ><i class="icon-eye-open"></i></a>
            </div>
        </div>
    </div>
</li>';
view:stop
Szallas_listaz
view:body

            <div class="media">
                <div class="pull-left">
                    <img src="-|-kep-|-" alt="">
                </div>
                <div class="media-body">
                    <span class="media-heading"><a href="#">-|-szoveg-|-</a></span>
                    <small class="muted">-|-datum-|-</small>
                </div>
            </div>
           
