<!--figyelem! legyen benne <input type="hidden" name="itemid" data="id" /> mező -->
<style>
td {padding-left: 5%;}
table{background-color: #374f70;}
    .ertek{color: orange}
    .feher{color: #f7f7f7}
.btkep{font-size: small;}
    h2{padding-left: 5%;}
    h4{padding-left: 5%;}
</style>


    <h2>Üdvözöljük <!--#usernev--> !</h2>

    <form method="post" action="index.php?app=admin" >

<table>
    <tr><td> <h4>Az ön egyenlege: </h4></td>
        <td><span class="ertek" ><!--#egyenleg--> <span class="feher">satoshi </span></span></td>
        <td>
            <button style="padding:0.2%;margin-left:3%;" type="reset" class="btn btn-primary btn-lg" onclick="window.location='index.php?app=admin&fget=account'">Pénztár
            </button>
        </td>
    </tr>
    <tr><td> <h4>Az ön bitcoin tárcája: </h4></td>
        <td><span class="ertek" ><!--#tarca--></span></td>
        <td>

        </td>
    </tr>
    <tr><td> <h4>Az ön ajánló linkje:</h4></td>
        <td><span class="ertek" > http://socialbittap.com/?ref=<!--#userid--></span></td>
        <td>

    </tr>
</table>
        <h2></h2>
        <h4>Az ajánló linket bármilyen formában megoszthatja, aki rákattintva érkezik a weblapunkra automatikusan az ön referáltja lesz.</h4>
        <h4> Szintén szeméyre szabott linket generáló közösségi gombok: </h4>
        <!-- <div class="fb-like" data-href="http://socialbittap.com/index.php?app=base&ref=123" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>-->

 <table>
     <tr><td> <h4>Jelszó:</h4></td>
         <td><span class="ertek" >Érdemes havonta változtatni!</span></td>
         <td>
             <button style="padding:0.2%;margin-left:3%;" type="reset" class="btn btn-primary btn-lg" onclick="window.location='index.php?app=admin&mod=login&ltask=szerk'">Változtatás
             </button>
         </td>
     </tr>

     <tr><td> <h4>Email:</h4></td>
         <td><span class="ertek" ><!--#email--></span></td>
        <td>
            <button style="padding:0.2%;margin-left:3%;" type="submit" name="nev" value="email" class="btn btn-primary btn-lg">Változtatás
            </button>
        </td>
    </tr>
    <tr><td> <h4>Felhasználónév:</h4></td>
        <td><span class="ertek" ><!--#username--></span></td>
        <td>
            <button style="padding:0.2%;margin-left:3%;" type="submit" name="nev" value="username" class="btn btn-primary btn-lg">Változtatás
            </button>
        </td>
    </tr>
    <tr><td> <h4>Kifizetési cím::</h4></td>
        <td><span class="ertek" ><!--#kifcim--></span></td>
        <td>
            <button style="padding:0.2%;margin-left:3%;" type="submit" name="nev" value="kifcim" class="btn btn-primary btn-lg">Változtatás
            </button>
        </td>
    </tr>
<input type="hidden" name="task" value="szerk">
    </form>
<!--/.col-sm-8-->


<!--

<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://socialbittap.com/index.php?app=base&ref=123" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

-->


