<!--figyelem! legyen benne <input type="hidden" name="itemid" data="id" /> mező -->

<section class="container">
    <h2>Udvözöljük <!--##usernev--> !</h2>
    <form  id="faucetform" method="post" action="#" >
    <h4>Az ön egyenlege: <!--##egyenleg-->  staoshi</h4> <button type="submit" name="task" value="ment" class="btn btn-primary btn-lg">Pénztár</button>
    <h4>Az ön bitcoin tárcája:<!--##tarca--></h4>
    <h4>Az ön ajánló linkje: http://socialbittap.com/?ref= <!--##userid--></h4>
    <h4>ezt a linket bármilyen formában megoszthatja, aki rákattintva érkezik a weblapunkra automatikusan az ön referáltja lesz</h4>
    <h4>Más népszerű közösségi megosztási lehetőségek. Szintén szeméyre szabott linket generálnak </h4>
        <div class="fb-like" data-href="http://socialbittap.com/index.php?app=base&ref=123" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <h2>  Adatok változtatása megadása:</h2>
        <button type="submit" name="task" value="ment" class="btn btn-primary btn-lg">Jelszó</button><br/>

        <h4>Email:<!--##email--><button class="btkep" type="submit" name="nev" value="email"><img src="res/ico/32/edit.png"/></br>Szerk</button></h4>
        <h4>Felhasználónév:<!--##usernev--><button class="btkep" type="submit" name="nev" value="usernev"><img src="res/ico/32/edit.png"/></br>Szerk</button></h4>
        <h4>Kifizetési cím:<!--##kifcim--><button class="btkep" type="submit" name="nev" value="email"><img src="res/ico/32/edit.png"/></br>Szerk</button></h4>


        <input type="hidden" name="id" data="id" />



    </form>
</section><!--/.col-sm-8-->
'<button class="btkep" type="submit" name="nev" value="'.$mezo.'"><img src="res/ico/32/edit.png"/></br><h4>Szerk</h4></button>';




<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://socialbittap.com/index.php?app=base&ref=123" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>




