<!--figyelem! legyen benne <input type="hidden" name="itemid" data="id" /> mező -->
<style>
td {padding-left: 5%;}

</style>
<section class="container">
    <h2>Udvözöljük <!--#usernev--> !</h2>
    <h2>  </h2>
    <h2>  </h2>
    <form  id="faucetform" method="post" action="#" >
    <h4>Az ön egyenlege: <span style="color: orange"><!--#egyenleg--> </span> staoshi <button style="padding:0.2%;margin-left:3%;" type="submit" name="task" value="ment" class="btn btn-primary btn-lg">Pénztár</button></h4><h2>  </h2>
        <h2>  </h2>
    <h4>Az ön bitcoin tárcája: <span style="color: orange"><!--#tarca--></span></h4>
    <h4>Az ön ajánló linkje:<span style="color: orange"> http://socialbittap.com/?ref=<!--#userid--></span></h4>
        <h2>  </h2>
    <h4>ezt a linket bármilyen formában megoszthatja, aki rákattintva érkezik a weblapunkra automatikusan az ön referáltja lesz</h4>
    <h4>Más népszerű közösségi megosztási lehetőségek. Szintén szeméyre szabott linket generálnak </h4>
        <div class="fb-like" data-href="http://socialbittap.com/index.php?app=base&ref=123" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <h2>  Adatok változtatása megadása:</h2>
        <h2>  </h2>
<table style="background-color: #374f70;">
    <tr><td> <h4>Email:</h4></td><td><span style="color: orange"><!--#email--></span></td><td><button style="font-size: small;" class="btkep" type="submit" name="nev" value="email"><img src="res/ico/32/edit.png" height="24px" /></br>Szerk</button></td></tr>
    <tr><td> <h4>Felhasználónév:</h4></td><td><span style="color: orange"><!--#usernev--></span></td><td><button class="btkep" type="submit" name="nev" value="usernev"><img src="res/ico/32/edit.png"/></br>Szerk</button></td></tr>
    <tr><td><h4>Kifizetési cím: </h4></td><td><span style="color: orange"><!--#kifcim--></span></td><td> <button class="btkep" type="submit" name="nev" value="email"><img src="res/ico/32/edit.png"/></br>Szerk</button></td></tr>
</table> <h2>  </h2> <h2>  </h2>
        <button style="padding:0.2%;margin-left:3%;"type="submit" name="task" value="ment" class="btn btn-primary btn-lg">Jelszó változtatás</button><br/>
        <input type="hidden" name="userid" data="<!--#userid-->" />

    </form>
</section><!--/.col-sm-8-->


<!--

<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Your Website Title" />
<meta property="og:description"   content="Your description" />
<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="http://socialbittap.com/index.php?app=base&ref=123" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

-->


